{% extends 'base.html' %}

{% block title %}
    Planos de Serviço
{% endblock %}

{% block styles%}
<style>
    .content {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    gap: 1.8rem;
    padding: 2rem
    }
    .row{
        display: flex;
        flex-direction: row;
    }
    .row input{
        width: 100%;
        height: 70%;
        background: var( --color-info-light);
        border-radius: 7px;
    }
    .button1{
        width: 10%;
        padding: 0.3em;
        font-weight: 500;
        border-radius: 7px;
        background: var(--color-primary);
        cursor: pointer;
        margin-left: 5px;
    }
    .button2{
        width: 15%;
        padding: 0.3em;
        font-weight: 500;
        border-radius: 7px;
        background: var(--color-success);
        cursor: pointer;
        margin-left: 5px;
    }
    table thead{
       background: var(--color-primary);
    }
    table tbody tr {
        text-align: center;
        background: var( --color-info-light);
    }

</style>
{% endblock %}

{% block title_page %}
    <h1>Planos de Serviços</h1>
{% endblock %}

{% block content %}

<div class="content">
    <table class="table">
        <thead>
            <th>Data de Criação</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Tipo de Serviço</th>
            <th>Velocidade</th>
            <th>Largura de Banda</th>
        </thead>
        <tbody> 
            {% for service in services %}
            <tr>
                <td>{{service.dt_created | date:'d/m/Y'}}</td>
                <td>{{service.name}}</td>
                <td>{{service.value}}</td>
                {% if service.type_service == service.INTERNET %}
                    <td>Internet</td>
                    <td>{{service.velocity}}</td>
                    <td></td>
                {% else %}
                    <td>Voip</td>
                    <td>{{service.velocity}}</td>
                    <td>{{service.bandwidth}}</td>
                {% endif %}
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}

    <script>

        const plans = document.querySelector("#plans")

        plans.classList.toggle("active");

    </script>

{%endblock%}