{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body,
  input {
    font-family: "Poppins", sans-serif;

  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100vh;
    background: #ffff;
    border: 1px solid red;
  }
  .sing-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60%;
    width: 60%;
    background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
    border-radius: 5px;
  }
  .input-field {
  width: 250px;
  margin: 10px 0;
  background-color: #f0f0f0;
  height: 55px;
  border-radius: 50px;
  }
  .input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  }
  .input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
  }
  .btn {
  width: 150px;
  background-color: #fff;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  }

  .btn:hover {
    background-color: #4481eb;
  }
</style>

<div class="container">
  <div class="sing-up">
    <h1>{% trans "Sign Up" %}</h1>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div class="input-field">
        {{form.username}}
      </div>
      <div class="input-field">
        {{form.email}}
      </div>
      <div class="input-field">
        {{form.password1}}
      </div>
      <div class="input-field">
        {{form.password2}}
      </div>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn solid">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>
{% endblock %}
