{% extends 'base.html' %}

{% block title %}
   Perfil
{% endblock %}
{% block styles%}
<style>
    .content {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    width: 935px;
    margin: 0 auto;
    gap: 1.8rem;
    }
</style>
{% endblock %}

{% block title_page %}
    <h1>Perfil</h1>
{% endblock %}

{% block content %}
<div class="content">
   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe possimus consequatur sequi maxime eligendi suscipit mollitia aut quam recusandae sint aperiam unde, ipsa labore? Et amet vel accusantium error facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aspernatur molestiae suscipit veniam, nam qui sed fugit quaerat, esse illo, distinctio doloremque dolor veritatis velit similique. Voluptas, ex blanditiis! Voluptate?
</div>
{% endblock %}


{% block scripts %}

{% endblock %}
