{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap5 %}


{% block title %}
   Perfil
{% endblock %}
{% block styles%}
<style>
    .content {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: 0 auto;
    gap: 1.8rem;
    }
</style>
{% endblock %}

{% block title_page %}
    <h1>Perfil</h1>
{% endblock %}

{% block content %}

<div class="content">
    <form method="post" class="form">
        {% csrf_token %}
        {{form.as_p}}
        <div class="form-group">                    
            <button type="button" class="btn btn-primary" onclick="this.disabled=true; this.form.submit();">
                {% trans 'Salvar' %}
            </button>
            <a class="btn btn-danger" href="{% url 'home'  %}">{% trans 'Cancelar' %}</a>
        </div>
    </form>
</div>

{% endblock %}


{% block scripts %}

    <script>

        const profile = document.querySelector("#profile");

        profile.classList.toggle("active");

    </script>

{% endblock %}
