{% extends 'base.html' %}


{% block title %}
    Home
{% endblock %}

{% block styles %}

<style>
.update span{
    background: var(--color-success);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
}
</style>

{% endblock %}

{% block title_page %}
    <h1>Dashboard</h1>
{% endblock %}

{% block date %}
    <div class="date">
        <h3 id="date"></h3>
    </div>
{% endblock %}

{% block content %}
<div class="plans">
    {% for plan in plans %}
    <div class="sales">
        <span class="material-symbols-outlined">stacked_line_chart</span>
        <div class="middle">
            <div class="left">
                <h3>{{plan.name}}</h3>
                <h1>R${{plan.value}}</h1>
            </div>
            <div class="progress">
                <svg>
                    <circle cx="39" cy="39" r="37"></circle>
                </svg>
                <div class="number">
                    {% if not plan.type_service %}
                    <p>{{plan.velocity}}Mbps</p>
                    {% else %}
                    <p>{{plan.bandwidth}}bps</p>
                    {%endif%}
                </div>
            </div>
        </div>
        {% if not plan.type_service %}
        <small class="text-muted">Velocidade de Conexão</small>
        {% else %}
        <small class="text-muted">Largura de Banda</small>
        {%endif%}
    </div>
    {%endfor%}
</div>
<div class="recent-orders">
    <h2>Listagem de Contas</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data Pagamento</th>
                <th>Data Vencimento</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for conta in contas %}
            <tr>
                <td>{{conta.name}}</td>
                {% if conta.dt_payment %}
                    <td>{{conta.dt_payment}}</td>
                {% else %}
                <td> </td> 
                {% endif %}
                <td>{{conta.dt_due}}</td>
                {% if conta.status %}
                    <td class="primary">Pago</td>
                    <td class="primary">
                        <a href="#">Comprovante</a>
                    </td>
                {% else %}
                    <td class="warning">Pendente</td>
                    <td class="primary">
                        <a href="#">Imprimir</a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block updates %}
    <h2>Informações e Avisos</h2>
    <div class="updates">
        <div class="update">
            <div class="profile-photo">
                <span class="material-symbols-outlined">notifications</span>
            </div>
            <div class="messege">
                <p><b>Mike Tyson</b> received his order of Night lion tech GPS drone.</p>
                <small class="text-muted">2 Minutes ago</small>
            </div>
        </div>
        <div class="update">
            <div class="profile-photo">
                <span class="material-symbols-outlined">notifications</span>
            </div>
            <div class="messege">
                <p><b>Mike Tyson</b> received his order of Night lion tech GPS drone.</p>
                <small class="text-muted">2 Minutes ago</small>
            </div>
        </div>
        <div class="update">
            <div class="profile-photo">
                <span class="material-symbols-outlined">notifications</span>
            </div>
            <div class="messege">
                <p><b>Mike Tyson</b> received his order of Night lion tech GPS drone.</p>
                <small class="text-muted">2 Minutes ago</small>
            </div>
        </div>
    </div>
{% endblock %}
{% block analytics %}
    <h2>Útimos Chamados</h2>
    <div class="item online">
        <div class="icon">
            <span class="material-symbols-outlined active">shopping_cart</span>
        </div>
        <div class="right">
            <div class="info">
                <h3>ONLINE ORDERS</h3>
                <small class="text-muted">Last 24 hours</small>
            </div>
            <h5 class="success">+38%</h5>
            <h3>1100</h3>
        </div>
    </div>
    <div class="item offline">
        <div class="icon">
            <span class="material-symbols-outlined">local_mall</span>
        </div>
        <div class="right">
            <div class="info">
                <h3>OFFLINE ORDERS</h3>
                <small class="text-muted">Last 24 hours</small>
            </div>
            <h5 class="danger">-17%</h5>
            <h3>1100</h3>
        </div>
    </div>
    <div class="item customers">
        <div class="icon">
            <span class="material-symbols-outlined">person</span>
        </div>
        <div class="right">
            <div class="info">
                <h3>NEW CUSTOMERS</h3>
                <small class="text-muted">Last 24 hours</small>
            </div>
            <h5 class="success">+25%</h5>
            <h3>849</h3>
        </div>
    </div>
    <!-- <div class="item add-product">
        <div>
            <span class="material-symbols-outlined">add</span>
            <h3>Add Product</h3>
        </div>
    </div> -->
{% endblock %}

{% block scripts %}
    <script>
        const theme = '{{theme}}'
        const themeToggler = document.querySelector(".theme-toggle");
        const dashboard = document.querySelector("#dashboard");
        const profile = document.querySelector("#profile");
        const today = new Date(Date.now());
        const now = today.toLocaleDateString();
        const date = document.querySelector("#date")
        date.innerHTML= now;

        if (theme){
            document.body.classList.toggle("dark-theme-variables");
            themeToggler.querySelector("span:nth-child(1)").classList.toggle("active");
            themeToggler.querySelector("span:nth-child(2)").classList.toggle("active");
        }

        themeToggler.addEventListener("click", () => {
            document.body.classList.toggle("dark-theme-variables");
            themeToggler.querySelector("span:nth-child(1)").classList.toggle("active");
            themeToggler.querySelector("span:nth-child(2)").classList.toggle("active");
        })

        dashboard.addEventListener("click", () =>{
            dashboard.classList.toggle("active");
        })

        profile.addEventListener("click", () =>{
            profile.classList.toggle("active");
        })


        // $(document).ready(function(){
        //     var get = document.URL;
        //     console.log(get)
        //     if(get.match('#')){
        //         $('#dashboard').addClass('active');
        //     }
        // });

    </script>
{% endblock %}
