<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/media/style.css">
    {% block links %}{% endblock %}
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="box">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/media/images/logo.png">
                    <h2 class="text-muted">PROVTELECOM</h2>
                </div>
                <div class="close" id="btn-close">
                    <span class="material-symbols-outlined">close</span>
                </div>
            </div>
            <div class="menuside">
                <a href="{% url 'home'  %}" id="dashboard">
                    <span class="material-symbols-outlined">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="{% url 'profile' user.pk %}" id="profile">
                    <span class="material-symbols-outlined">person</span>
                    <h3>Perfil</h3>
                </a>
                <a href="#" id="contas">
                    <span class="material-symbols-outlined">receipt_long</span>
                    <h3>Contas</h3>
                </a>
                <a href="{% url 'service_plans' %}" id="plans">
                    <span class="material-symbols-outlined">insights</span>
                    <h3>Planos de Serviço</h3>
                </a>
                <a href="{% url 'called' %}" id="called">
                    <span class="material-symbols-outlined">mail_outline</span>
                    <h3>Chamados</h3>
                </a>
                <a href="#" id="contract">
                    <span class="material-symbols-outlined">inventory</span>
                    <h3>Contrato</h3>
                </a>
                <!-- <a href="#">
                    <span class="material-symbols-outlined">report_gmailerrorred</span>
                    <h3>Reports</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">settings</span>
                    <h3>Settings</h3>
                </a> -->
                <a href="{% url 'logout' %}">
                    <span class="material-symbols-outlined">logout</span>
                    <h3>Logout</h3>  
                </a>
            </div>
        </aside>
        <main>
            {% block title_page %}{% endblock %}
            {% block date %}{% endblock %}
            {% block content %}{% endblock %}
        </main>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-symbols-outlined">menu</span>
                </button>
                <div class="theme-toggle">
                    <span class="material-symbols-outlined active">light_mode</span>
                    <span class="material-symbols-outlined">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>{{user}}</b></p>
                        <small class=""text-muted>Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="/media/images/profile-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="recent-updates">
                {% block updates %}{% endblock %}
            </div>
            <div class="sales-analytics">
                {% block analytics %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="/media/index.js"></script>

    {% block scripts %}{% endblock %}
</body>
</html>
