{% extends 'base.html' %}

{% block title %}
    Chamados
{% endblock %}

{% block styles%}
<style>
    .content {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    gap: 1.8rem;
    }
    .row{
        display: flex;
        flex-direction: row;
    }
    .row input{
        width: 100%;
        height: 70%;
        background: var( --color-info-light);
        border-radius: 7px;
    }
    .button1{
        width: 10%;
        padding: 0.3em;
        font-weight: 500;
        border-radius: 7px;
        background: var(--color-primary);
        cursor: pointer;
        margin-left: 5px;
    }
    .button2{
        width: 15%;
        padding: 0.3em;
        font-weight: 500;
        border-radius: 7px;
        background: var(--color-success);
        cursor: pointer;
        margin-left: 5px;
    }
    table thead{
       background: var(--color-primary);
    }
    table tbody tr {
        text-align: center;
        background: var( --color-info-light);
    }
</style>
{% endblock %}

{% block title_page %}
    <h1>Contas</h1>
{% endblock %}

{% block content %}

<div class="content">
    <form action="" method="get">
        <div class="row">
            <div style="padding: 0.5em 0.5em">
                <label for="inicio" style="font-size: 15px">Data inicio:</label>
                <input autocomplete="off" {%if True%} selected {%endif%} name="dt_start" type="date" placeholder="Início" value="{{ dt_start }}">
            </div>
            <div style="padding: 0.5em 0.5em">
                <label for="fim" style="font-size: 15px">Data fim:</label>
                <input autocomplete="off" {%if True%} selected {%endif%} name="dt_end" type="date" placeholder="Fim" value="{{ dt_end }}">
            </div>
        </div>
        <br>
        <div>
            <button type="submit" class="button1">Buscar</button>
        </div>
    </form>
    <table class="table">
        <thead>
            <th>Data de Criação</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Data de Vencimento</th>>
            <th>Data de Pagamento</th>
            <th>Status</th>
        </thead>
        <tbody> 
            {% for conta in contas %}
            <tr>
                <td>{{conta.dt_created | date:'d/m/Y'}}</td>
                <td>{{conta.name}}</td>
                <td>{{conta.value}}</td>
                <td>{{conta.dt_due | date:'d/m/Y'}}</td>
                {% if conta.dt_payment %}
                    <td>{{conta.dt_payment | date:'d/m/Y'}}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if conta.status == conta.OPEN %}
                    <td>Em Aberto</td>
                {% else %}
                    <td>Fechada</td>
                {% endif %}
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}

    <script>

        const contas = document.querySelector("#contas")

        contas.classList.toggle("active");

    </script>

{%endblock%}