{% extends 'base.html' %}

{% block title %}
    Chamados
{% endblock %}

{% block styles%}
<style>
    .content {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    gap: 1.8rem;
    }
    .row{
        display: flex;
        flex-direction: row;
    }
    .row label{
        display: inline-block;
        font-size: 15px;
        font-weight: 500;

    }
    .row input{
        padding: 0.5rem;
        height: 35px;
        width:200px;
        background: var( --color-info-light);
        border-radius: 7px;
    }
    .button1{
        margin-top: 10px;
        width: 10%;
        padding: 0.5em;
        font-weight: 600;
        border-radius: 7px;
        background: var(--color-primary);
        cursor: pointer;
        margin-left: 5px;
    }
    .button2{
        margin-top: 10px;
        width: 30%;
        padding: 0.5em;
        font-weight: 600;
        border-radius: 7px;
        background: var(--color-success);
        cursor: pointer;
        margin-left: 5px;
    }

    table thead{
       background: var(--color-primary);
    }
    table tbody tr {
        text-align: center;
        background: var( --color-info-light);
    }

</style>
{% endblock %}

{% block title_page %}
    <h1>Chamados</h1>
{% endblock %}

{% block content %}

<div class="content">
    <form action="" method="get">
        <div class="row">
            <div style="padding: 0.5em 0.5em">
                <label for="inicio">Data inicio:</label>
                <input autocomplete="off" {%if True%} selected {%endif%} name="dt_start" type="date" placeholder="Início" value="{{ dt_start }}">
            </div>
            <div style="padding: 0.5em 0.5em">
                <label for="fim">Data fim:</label>
                <input autocomplete="off" {%if True%} selected {%endif%} name="dt_end" type="date" placeholder="Fim" value="{{ dt_end }}">
            </div>
        </div>
        <br>
        <div>
            <button type="submit" class="button1">Buscar</button>
            <a class="button2" href="{% url 'creat_called' %}">Criar Chamado</a>
        </div>
    </form>
    <table class="table">
        <thead>
            <th>Titulo</th>
            <th>Descrição</th>
            <th>Data de Criação</th>
            <th>Status</th>
        </thead>
        <tbody> 
            {% for called in calleds %}
            <tr>
                <td>{{called.title}}</td>
                <td>{{called.description}}</td>
                <td>{{called.dt_created | date:'d/m/Y'}}</td>
                {% if called.situation == called.OPEN%}
                    <td>Aberto</td>
                {% elif called.situation == called.IN_PROGRESS%}
                    <td>Em Andamento</td>
                {% else %}
                    <td>Concluído</td>
                {% endif %}
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}

    <script>

        const called = document.querySelector("#called")

        called.classList.toggle("active");

    </script>

{%endblock%}